.category-btn:hover{
    background-color: #9BB8FF;
}
.category-btn{
    background-color: #EFF3FD;
}
.selected-btn{
    background-color: #9BB8FF;
}

.arrow-btn {
    margin-left: 10px;
    transition: transform 0.3s ease; /* Smooth animation for rotation */
  }
  
.arrow-btn.open {
transform: rotate(180deg); /* Rotate 180 degrees when dropdown is open */
}