.sort-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sort-list li {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.sort-list li:hover{
    background-color: rgb(219, 219, 219);
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    width: 80%;
}